$fg-colour: #{"@theme_fg_color"};
$bg-colour: #{"@theme_bg_color"};
$dim-fg-colour: #{"@theme_selected_fg_color"};
$dim-bg-colour: #{"@theme_selected_bg_color"};
$accent: #{"@accent_color"};
$warning: #{"@warning_color"};
$error: #{"@error_color"};
$success: #{"@success_color"};